* {
  margin: 0;
  padding: 0;
}

header,
body,
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  flex-direction: row;
  background-color: #5bc0de;
  height: 50px;
  margin: 0;
}

header > a {
  width: 40px;
  height: 40px;
}

.headerItem:last-of-type {
  text-align: end;
  padding: 15px;
}

.row {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.menu {
  /* width: 100%; */
  height: 80px;
  background-color: white;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.menu-item i,
span {
  color: #5bc0de;
  text-align: center;
}

.menu-item i {
  font-size: x-large;
  margin-bottom: 5px;
}

.menu-item span {
  font-weight: 600;
  font-size: 17px;
}

.menu-item:hover {
  background-color: #5bc0de;
}

.menu-item:hover i {
  color: white;
}

.menu-item:hover span {
  color: white;
}

/* ***********************************************
*****************   Login Page ******************* 
**************************************************/

.login-page main {
  width: 100%;
  padding: 20px;
}

.login-page .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-page .top-header a:first-of-type {
  width: fit-content;
  margin-bottom: 5px;
}

.login-page .top-header a:last-of-type {
  color: white;
  width: fit-content;
  padding: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.login-page h1 {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}

.login-page h2 {
  text-align: center;
}

.login-page .login-container {
  max-width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  margin-top: 50px;
  box-shadow: -7px 9px 10px -2px rgba(0, 0, 0, 0.72);
}

.login-page .alert {
  margin-top: 15px;
}

.login-page h1 {
  margin-bottom: 15px;
}

.login-page button {
  margin-top: 10px;
}

.login-page .form-group {
  margin-bottom: 10px;
}

.login-page label {
  margin-bottom: 5px;
}

.login-page h3 {
  width: 100px;
  height: 100px;
  color: #5bc0de;
}

.login-page #InsertUsernameErr {
  display: none;
}

.login-page #InsertPasswordErr {
  display: none;
}

/* ***********************************************
***************** Ride Page ******************* 
**************************************************/
.ride-page .fromToInfo,
.lineInfo {
  background-color: #cccccc;
  height: 40px;
  margin-bottom: 8px;
  height: fit-content;
  padding: 15px;
}

.ride-page .fromToItem,
.lineInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ride-page .fromToText,
.lineInfoText {
  font-weight: 700;
  margin-left: 8px;
}

.ride-page .fromToItem span,
.lineInfo span {
  color: black;
}

.ride-page .changeBtn {
  width: 92px;
  justify-self: end;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  float: right;
}

.ride-page .changeBtn:hover {
  background-color: #5bc0de;
  color: white;
}

.ride-page .gradesContainer {
  background-color: white;
  height: fit-content;
  margin-top: 70px;
}

.ride-page .gradeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  height: 200px;
}

.ride-page .gradeItem h5 {
  font-weight: 600;
  font-size: 25px;
}

.ride-page .gradeItem i {
  font-size: 55px;
}

.ride-page .gradeItem span {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.ride-page .totalScoreItem {
  display: flex;
  height: 120px;
  justify-content: space-around;
}

.ride-page .totalScoreItem span {
  font-size: 25px;
  font-weight: 600;
  color: black;
  height: 50px;
}

.ride-page .totalScoreItem span:last-of-type {
  font-size: 35px;
}

.ride-page .row:last-of-type {
  justify-content: center;
}

.ride-page .selectRideBtn {
  height: 65px;
  background-color: #5bc0de;
  width: 200px;
  padding: 0;
  justify-self: center;
  margin-top: 15px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  transition: 0.3s;
}

.ride-page .selectRideBtn:hover {
  background-color: #0c59cf;
}
